---
section: page
parent: {{ parent }}
#eleventyComputed:
#  eleventyNavigation:
#    key: "{{ title }}"
#    parent: "{{ parent }}"
---
<h1>{{ title }}</h1>

{% include "layouts/blocks.njk" %}
{% include "components/sub-nav.njk" %}

<h2>Related content</h2>
<ul>
  {{ relatedContent | dump }}
  {% for content in relatedContent %}
    <li>{{ content }}</li>
  {% endfor %}
</ul>