<header class="hero">
    <h1>{{ block.heading }}</h1>
    {% if block.content and block.content != '' %}
        <div class="hero-inner">
            {{ block.content }}
        </div>
    {% endif %}
</header>