<nav>
    {% set navPages = collections.all | eleventyNavigation %}
    {{ navPages | dump }}
    <ul>
        {% for entry in navPages %}
            <li>
                <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
                {% if entry.children %}
                <li>yeah</li>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</nav>