<h2>Sub nav</h2>

{% if parent == page.fileSlug %}
    {% set find = page.fileSlug | capitalize %}
    <p>has no parent id</p>
{% else %}
    {% set find = parent %}
    <p>has a parent id</p>
{% endif %}

<p>fileSlug: {{ page.fileSlug }}</p>
<p>FIND: {{ parent }}</p>

{% set subPages = collections.pages | eleventyNavigation(find) %}
<ul>
    {% for page in subPages %}
        <li>
            <a href="{{ page.url | url }}">
                {{ page.title }}
            </a>
        </li>
    {% endfor %}
</ul>