<h2>Sub nav</h2>
{% if eleventyNavigation.key == page.fileSlug | capitalize %}
    {% set find = page.fileSlug | capitalize %}
{% else %}
    {% set find = parent %}
{% endif %}

{% set subPages = collections.pages | eleventyNavigation(find) %}
<ul>
    {% for page in subPages %}
        <li>
            <a href="{{ page.url | url }}">
                {{ page.title }}
            </a>
        </li>
    {% endfor %}
</ul>