{% set navTitle = subMenu.navItems.navtitle %}
{% set subNav = subMenu.navItems.navItem.link %}

{% for item in subMenu.navItems %}

    <nav>
        <ul>
            {% for link in item.navItem.link %}
                <li>
                    <a href="{{ link.url | url }}"{% if link.url == page.url %} data-current="current item"{% endif %}>{{ link.displayText }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endfor %}