<html>
    <head>
        <title>Eleventy + Netlify CMS Blog Example</title>
    </head>
    <body>
        {% include "components/header.njk" %}
        {{ content | safe }}
        {% include "components/footer-nav.njk" %}

    </body>
</html>