<html>
    <head>
        <title>Eleventy + Netlify CMS Blog Example</title>
    </head>
    <body>
        <header>
            {# <em>
                <a href="{{ '/' | url }}">{{ metadata.title }}</a>
            </em> #}
            <h1>Eleventy + Netlify CMS Blog Example</h1>
            {% include "components/header-nav.njk" %}

        </header>

        {{ content | safe }}
        {% include "components/footer-nav.njk" %}

    </body>
</html>