<!DOCTYPE html>
<html>
    <head>
        {% include "components/head.njk" %}
    </head>
    <body>
        {% include "components/header.njk" %}
        {% include "components/sub-nav.njk" %}
        {{ content | safe }}
        {% include "components/footer-nav.njk" %}
    </body>
</html>