---
layout: layouts/base.njk
section: page
parent: My Parent Key
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    parent: "{{ parent }}"
---
<h1>{{ title }}</h1>

{% include "layouts/blocks.njk" %}