---
layout: layouts/base.njk
section: page
parent: {{ parent }}
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    parent: "{{ parent }}"
---
<h1>{{ title }}</h1>

{% include "layouts/blocks.njk" %}

<h2>Related content</h2>
<ul>
  {% for content in relatedContent %}
    <li>{{ content }}</li>
  {% endfor %}
</ul>